
<form>
  <input type="radio" name="active" value="true" checked > Active<br>
  <input type="radio" name="active" value="false" > Inactive<br>
</form>

 <%= link_to @student.to_s, student_path(@student) %>
