
<form>
  <input type="radio" name="active" value="@student.active" checked > Active<br>
  <input type="radio" name="active" value="!@student.active" > Inactive<br>
</form>

 <%= link_to @student.to_s, student_path(@student) %>
