
<form>
  <input type="radio" name="active" value="@student.active" > Active<br>
  <input type="radio" name="active" value="@student.inactive" > Inactive<br>
</form>

 <%= link_to @student.to_s, student_path(@student) %>
