
<form>
  <input type="radio" id = "true" name="active" value= "<%= @student.active %>"/> Active<br>
  <input type="radio" id= "false" name="active" value="<%= @student.active %>" /> Inactive<br>

</form>

 <%= link_to @student, "/students/#{student.id}" %>
 
