
<form>
  <input type="radio" id = "true" name="active" value= "<%= @student.active = "true" %>"/> Active<br>
  <input type="radio" id= "false" name="active" value="<%= @student.active = "false" %>" /> Inactive<br>
</form>

 <!-- <%= link_to @student.to_s, students_path(@student) %> -->
